language: generic 
sudo: required
services:
  - docker

before_install:
  - docker build -f Dockerfile.dev . -t bineetkumar/docker-react

script:
  - docker run -e CI=true bineetkumar/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-2-734571423792"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY